<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Tekken Reborn</title>
    <style>
        
        p {
            font-family: 'Trebuchet MS', sans-serif;
            font-size: 25px;
        }
        h1 {
            margin-left: 550px;
        }
    </style>
</head>
<body style=" background: linear-gradient(to right, #c9ffbf, #ffafbd);">
  
    <h1>Tekken Reborn</h1>
    <p>
        Tekken is a popular fighting game series that originated in 1994 and has since become a staple in the fighting game community. It's known for its fast-paced and technical gameplay, as well as its large roster of diverse characters.
        <br><br>
        Tekken was the first fighting game that had taken away focus from “special moves” and instead placed an emphasis on basic kicks and punches that could be strung together in creative ways to cause massive damage. This shift in focus was a major reason for its success and continues to be a hallmark of the series.
        <br><br>
        Over the years, the Tekken series has evolved and expanded, adding new mechanics, characters, and storylines to keep players engaged. The latest entry in the series, Tekken 7, has been well received by fans and has been used as a competitive game in international tournaments.
        <br><br>
        Tekken is available on various platforms, including: 
        <ul>
            <li>Android</li>
            <li>PlayStation</li>
            <li>PC</li>
            <li>Xbox</li>
            <li>Wii Portable</li>
            <li>PSP</li>
        </ul>
    </p>
</body>
</html>
